<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="EPPCorporatePortalEntitiesXXX" connectionString="metadata=res://*/EDMX.CorporatePortalModel.csdl|res://*/EDMX.CorporatePortalModel.ssdl|res://*/EDMX.CorporatePortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.31.20.207;initial catalog=EPPCorporatePortal;user id=epspartnerportaluser;password=Pa$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPPCorporatePortalEntities1" connectionString="metadata=res://*/EDMX.CorporatePortalModel.csdl|res://*/EDMX.CorporatePortalModel.ssdl|res://*/EDMX.CorporatePortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.31.20.207;initial catalog=EPPCorporatePortal;user id=epspartnerportaluser;password=Pa$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPPCorporatePortalEntities" connectionString="metadata=res://*/EDMX.CorporatePortalModel.csdl|res://*/EDMX.CorporatePortalModel.ssdl|res://*/EDMX.CorporatePortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.31.20.207;initial catalog=EPPCorporatePortal;user id=epspartnerportaluser;password=Pa$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EPPCorporatePortalEntitiesXXX" connectionString="metadata=res://*/EDMX.CorporatePortalModel.csdl|res://*/EDMX.CorporatePortalModel.ssdl|res://*/EDMX.CorporatePortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:SIRASPIRE,49172;initial catalog=EPPCorporatePortal_UAT;user id=sa;password=abc@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPPCorporatePortalEntities1" connectionString="metadata=res://*/EDMX.CorporatePortalModel.csdl|res://*/EDMX.CorporatePortalModel.ssdl|res://*/EDMX.CorporatePortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:SIRASPIRE,49172;initial catalog=EPPCorporatePortal_UAT;user id=sa;password=abc@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPPCorporatePortalEntities" connectionString="metadata=res://*/EDMX.CorporatePortalModel.csdl|res://*/EDMX.CorporatePortalModel.ssdl|res://*/EDMX.CorporatePortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2012;initial catalog=EPPCorporatePortal_P5;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>