<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Claims e-Form</title>
</head>
<body>
    <div>
        <p dir="ltr" class="pt-NormalWeb">
            <span xml:space="preserve" class="pt-000000"> </span>
        </p>
        <div align="left">
            <table>               
                    <tr class="pt-000022">
                        <td colspan="2">
                            <p>
                                <span>I do solemnly and sincerely declare that I am the nominee/administrator/beneficiary for the Takaful benefit of the deceased and further declare as follows:-</span>
                            </p>
                            <p>
                                <span>  1. That the foregoing answers and statements on the Deceased are complete and true to the best of my knowledge and belief, and that I have withheld no material facts from the Company.</span>
                            </p>
                            <p>
                                <span>  2. That any difference, if any, in respect of the details contained in the enclosed supporting document and the information presented to Etiqa Life Insurance Berhad(Etiqa) in this form refers to the same person. I understand and agree that Etiqa has the sole discretion to reject this application if the information given is false or insufficient. </span>
                            </p>
                            <p>
                                <span>  3. That the original certificate whether or not enclosed therein (if any), due to loss or mutilated, belongs to the deceased. </span>
                            </p>
                            <p>
                                <span>  4. And I hereby authorize any medical practitioner, surgeon person, hospital, clinic and any other institution or organization to furnish Etiqa Life Insurance Berhad or its representative any information that may be required concerning my health conditions, for settlement of this claim. I agree that Etiqa Takaful Berhad or its representative may use or disclose any of the information collected or held to third parties such as reinsurers, medical examiner or medical consultant, claims investigator and etc. within or outside Malaysia for the purpose of processing the claim. I agree that a photocopy of this authorization shall be considered as effective and valid as original.</span>
                            </p>
                            <p>
                                <span>  5. I, agree, consent and allow Etiqa Life Insurance Berhad (hereinafter called “Etiqa Insurancel”) to process my personal data (including sensitive personal data) (‘Personal Data’) with the intention of processing this Claim Form, in compliance with the provisions of the Personal Data Protection Act 2010.</span>
                            </p>
                            <p>
                                <span>  6. I, understand and agree that any Personal Data collected or held by Etiqa Insurnace contained in this Claim Form may be held, used, processed and disclosed by Etiqa Insurance to individuals and/or organizations related to and associated with Etiqa Insurance or any selected third party (within or outside Malaysia, including medical institutions, solicitors, industry associations, regulators, statutory bodies and government authorities) for the purpose of processing this Claim Form and providing subsequent service related to it and to communicate with me for such purposes.</span>
                            </p>
                            <p>
                                <span>  7. I agree that a copy of documents submitted shall be as valid as the original. I confirm that the information given on this online submission form is to the best of my knowledge and belief, true in every aspect. I understand that the making of a fraudulent claim by providing untrue information is a criminal offence likely to lead to prosecution.</span>
                            </p>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</body>
</html>